DB_URL=nice_url
DB_USERNAME=very_nice_username
DB_PASSWORD=very_good_password

STRIPE_SECRET_KEY=nice_stripe_secret_key
STRIPE_WEBHOOK_SECRET=very_good_stripe_webhook_secret

JWT_SECRET=very_very_nice_jwt_secret

REDIS_HOST=localhost
REDIS_PORT=6379

SENDGRID_API_KEY=very_sendgrid_api_key